# The workload inventory
wireguard:
  cores: 1
  memory: 512
  size: 8
  ip: "10.99.0.11/24"

mediaserver:
  cores: 2
  memory: 4096
  size: 8
  ip: "10.99.0.12/24"

ntfy:
  cores: 1
  memory: 512
  size: 2
  ip: "192.168.0.246/24"

navidrome:
  cores: 2
  memory: 1024
  size: 4
  ip: "192.168.0.248/24"

postgresql:
  cores: 1
  memory: 1024
  size: 8
  ip: "10.99.0.13/24"

homepage:
  cores: 2
  memory: 1024
  size: 8
  ip: "10.99.0.14/24"

docker:
  cores: 2
  memory: 2048
  size: 8
  ip: "10.99.0.15/24"

pihole:
  cores: 2
  memory: 512
  size: 8
  ip: "10.99.0.16/24"

changedetection:
  cores: 4
  memory: 4096
  size: 8
  ip: "10.99.0.17/24"

caliweb:
  cores: 2
  memory: 2048
  size: 8
  ip: "10.99.0.18/24"

grafana:
  cores: 1
  memory: 512
  size: 8
  ip: "10.99.0.19/24"

commafeed:
  cores: 2
  memory: 2048
  size: 8
  ip: "10.99.0.20/24"

audiobookshelf:
  cores: 2
  memory: 2048
  size: 8
  ip: "10.99.0.21/24"

prometheus:
  cores: 1
  memory: 2048
  size: 8
  ip: "10.99.0.22/24"

prometheus-pve-exporter:
  cores: 1
  memory: 512
  size: 8
  ip: "10.99.0.24/24"

ollama:
  cores: 4
  memory: 4096
  size: 8
  ip: "10.99.0.25/24"

frigate:
  cores: 4
  memory: 2048
  size: 8
  ip: "10.99.0.26/24"

mqtt:
  cores: 1
  memory: 512
  size: 8
  ip: "10.99.0.27/24"

invidious:
  cores: 2
  memory: 4096
  size: 8
  ip: "10.99.0.28/24"

nexterm:
  cores: 2
  memory: 2048
  size: 8
  ip: "10.99.0.29/24"

authelia:
  cores: 1
  memory: 512
  size: 8
  ip: "10.99.0.30/24"

loki:
  cores: 1
  memory: 512
  size: 8
  ip: "10.99.0.31/24"

vikunja:
  cores: 1
  memory: 1024
  size: 8
  ip: "10.99.0.32/24"

proxmox-backup-server:
  cores: 2
  memory: 2048
  size: 8
  ip: "10.99.0.34/24"

gramps-web:
  cores: 2
  memory: 4096
  size: 8
  ip: "10.99.0.35/24"

traefik:
  cores: 1
  memory: 512
  size: 8
  ip: "10.99.0.36/24"

tailscale:
  cores: 2
  memory: 2048
  size: 8
  ip: "10.99.0.37/24"

openbao:
  cores: 1
  memory: 1024
  size: 8
  ip: "10.99.0.38/24"

code-server:
  cores: 4
  memory: 2048
  size: 8
  ip: "10.99.0.39/24"
